<div class="col-lg-3">
    <div class="list-group bg-dark">
      <a href="{% url 'home' %}" class="list-group-item bg-dark">Home</a>
      <a href="{% url 'add' %}" class="list-group-item bg-dark">Add Task</a>
      <a href="{% url 'sort_tasks_by_title_asc' %}" class="list-group-item bg-dark">Sort Tasks by Title ASC</a>
      <a href="{% url 'sort_tasks_by_title_desc' %}" class="list-group-item bg-dark">Sort Tasks by Title DESC</a>
      <a href="{% url 'sort_tasks_by_status_asc' %}" class="list-group-item bg-dark">Sort Tasks by Status ASC</a>
      <a href="{% url 'sort_tasks_by_status_desc' %}" class="list-group-item bg-dark">Sort Tasks by Status DESC</a>
      <a href="{% url 'sort_tasks_by_due_date_asc' %}" class="list-group-item bg-dark">Sort Tasks by Due Date ASC</a>
      <a href="{% url 'sort_tasks_by_due_date_desc' %}" class="list-group-item bg-dark">Sort Tasks by Due Date DESC</a>
      
    </div>
  </div>